/* Estilos generales para el contenedor principal */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1; /* Ocupa el espacio disponible */
}

/* Otros estilos existentes en Profile.css */
.profile-container {
  /*flex: 1; /* Esto asegura que el contenedor de perfil se expanda para llenar el espacio disponible */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.profile-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-field {
  flex: 1;
  margin-right: 10px;
}

.profile-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.profile-button {
  background-color: #d81ed5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.profile-button:hover {
  background-color: #b614a2;
}

.profile-details i {
  margin-right: 10px;
  color: #007bff;
}

.profile-details strong {
  font-weight: bold;
}
